.container {
  text-align: center;
}
.container button {
  color: white;
  background: #007aff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 24px);
  height: 60px;
  min-width: 160px;
  margin: 12px;
  padding: 0 24px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  .container {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 1;
  }
  .container button {
    margin: 0;
  }
}
